<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>WebbasierteAnwendungen</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>HalloServlet</servlet-name>
		<servlet-class>uebung.ueb05.HalloServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HalloServlet</servlet-name>
		<url-pattern>/hallo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ArithmetikServlet</servlet-name>
		<servlet-class>uebung.ueb05.ArithmetikServlet</servlet-class>
		<init-param>
			<param-name>anz_add</param-name>
			<param-value>3</param-value>
		</init-param>
		<init-param>
			<param-name>anz_mul</param-name>
			<param-value>3</param-value>
		</init-param>
		<init-param>
			<param-name>max_number</param-name>
			<param-value>10</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>ArithmetikServlet</servlet-name>
		<url-pattern>/kopfrechner</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddServlet</servlet-name>
		<servlet-class>uebung.ueb05.AddServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MulServlet</servlet-name>
		<servlet-class>uebung.ueb05.MulServlet</servlet-class>
	</servlet>
	<context-param>
		<param-name>fragebogen</param-name>
		<param-value>WEB-INF/xml/fragebogen.xml</param-value>
	</context-param>
	<servlet>
		<servlet-name>WaehrungsUmrechner</servlet-name>
		<servlet-class>uebung.ueb06.WaehrungsUmrechnerController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WaehrungsUmrechner</servlet-name>
		<url-pattern>/WaehrungsUmrechner</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Blog</servlet-name>
		<servlet-class>uebung.ueb07.BlogController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Blog</servlet-name>
		<url-pattern>/Blog/</url-pattern>
	</servlet-mapping>
	<listener>
		<listener-class>org.h2.server.web.DbStarter</listener-class>
	</listener>
	<context-param>
		<param-name>db.url</param-name>
		<param-value>jdbc:h2:WEB-INF/blog/db.h2</param-value>
	</context-param>
	<context-param>
		<param-name>db.user</param-name>
		<param-value>sa</param-value>
	</context-param>
	<context-param>
		<param-name>db.password</param-name>
		<param-value>sa</param-value>
	</context-param>
	<servlet>
		<servlet-name>ImageListing</servlet-name>
		<servlet-class>uebung.ueb08.ImageListing</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ImageListing</servlet-name>
		<url-pattern>/ImageListing</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>GrayscaleLargeImages</filter-name>
		<filter-class>uebung.ueb08.GrayscaleLargeImages</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>GrayscaleLargeImages</filter-name>
		<url-pattern>/ImageListing</url-pattern>
	</filter-mapping>
</web-app>